COMPOSE_PROJECT_NAME=cloudfucker_dev

REDIS_INT_PORT: 6279
REDIS_EXT_PORT: 6279

HTTP_EXT_PORT: 80
HTTPS_EXT_PORT: 443

HTTP_INT_PORT: 80
HTTPS_INT_PORT: 443


DOMAINS=nos.ai.io
WORKDIR=/app
PUBDIR=/app/dist
